body, footer, table
{
    text-align: center !important;
    background-image: url("img/shop.jpg") !important;
}

table
{
    text-align: center !important;
    margin: 0 auto;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}
th, td {
    padding: 15px;
    text-align: left;
}