    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    input {
        font-size: 1em;
        color: black;
        background-color: green;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    #layoutdiv
    {
        display: inline-block;
        color: black;
        text-align: left;
        background-color: white;
        border-radius: 10px
    }
